:root {
    --text-color: #1F305E;
    --background-color: white;
    --border-radius: 0.5rem;
    --border-width: 3px;
    --secondary-text-color: black;
}

:root .darkmode {
    --text-color: white;
    --background-color: #1F305E;
    --secondary-text-color: #d3d3d3;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: white;
        --background-color: #1F305E;
        --secondary-text-color: #d3d3d3;
    }
}

body {
    background-color: var(--background-color);
}

h2 {
    color: var(--text-color);
}

h1, h3, p, a {
    color: var(--secondary-text-color);
}

.navbar {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
    padding: 0px;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    border-bottom: var(--border-width) solid var(--text-color);
    padding-bottom: .5rem;
}

.navbar li {
    text-decoration: none;
    display: inline-block;
    margin: .5rem;
}

.navbar li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    padding: .5rem;
}

.navbar li:first-child {
    display: block;
}

.navbar li:first-child a {
    text-decoration: underline;
    font-size: 3rem;
}

.navbar li a:visited {
    color: var(--text-color);
}

.navbar li a:hover {
    text-decoration: underline;
}

.navbar li a.active {
    color: var(--background-color);
    background-color: var(--text-color);
    border-radius: var(--border-radius);
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 4rem;
    margin: 2rem;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: normal;
}

.content {
    width: 80%;
    margin: auto;
    font-size: 1.5rem;
    line-height: 2rem;
    border: var(--border-width) solid var(--text-color);
    border-radius: var(--border-radius);
    padding: 1rem 3rem;
    margin-bottom: 4rem;
}

.cat-wrapper img, .cat-text-wrapper {
    display: inline-block;
}

.cat-text-wrapper {
    width: 55%;
    vertical-align: top;
    padding: 4.5%;
}

.cat-wrapper img {
    width: 33%;
}

#athena-pic {
    margin-top: 6rem;
}

embed {
    max-width: 49%;
    display: inline-block;
}

.img-wrapper {
    text-align: center;
}

img {
    border: var(--border-width) solid var(--text-color);
    border-radius: var(--border-radius);
    max-width: 100%;
}

@media only screen and (max-width: 1024px) {
    embed {
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    .navbar li a {
        font-size: 1.25rem;
    }

    .navbar li:first-child a {
        font-size: 2rem;
    }

    .content {
        padding: 0.5rem 1.5rem;
    }

    .cat-text-wrapper {
        width: 91%;
    }

    .cat-wrapper img {
        width: 100%;
    }
}